html {
    background-color: black;
}

div{
    width: 50%;
    margin-left: 25%;
}

img {
    border: 5px solid white;
    width: 100%;
    margin-top: 50px;
}

#title{
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

p{
    color: white;
    text-align: center;
}

footer{
    color: white;
    margin-top: 400px;
}